<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/svgs/solid/bed.svg">
    <title>Patients</title>
</head>
<body>
<div class="container mt-3">
    <div th:replace="nav :: navbar">...</div>
    <div class="card" style="border-top-left-radius: 0px; !important;border-top-right-radius: 0px; !important;">
        <div class="card-body"  layout:fragment="cardBody">

        </div>
    </div>
</div>
</body>
</html>