<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/svgs/solid/bed.svg">
    <title>Patients</title>
</head>
<body>
    <div class="container mt-3">
        <div th:replace="nav :: navbar">...</div>
        <div class="card" style="border-top-left-radius: 0px; !important;border-top-right-radius: 0px; !important;">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOM</th>
                            <th>DATE</th>
                            <th>MALADE</th>
                            <th>SCORE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p:${list}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.nom}"></td>
                            <td th:text="${p.dateNaissance}"></td>
                            <td th:text="${p.malade}"></td>
                            <td th:text="${p.score}"></td>
                            <td>
                               <a th:href="@{delete(id=${p.id})}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills" style="margin-left: 250px">
                    <li th:each="page,status:${nbrPages}">
                        <a th:text="${status.index}"
                           th:class="${status.index == pagecourant ? 'btn btn-dark m-lg-1 ms-1' : 'btn btn-outline-dark m-lg-1 ms-1'}"
                           th:href="@{index(page=${status.index},keyword=${keyword})}"
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>