<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Ajouter Custumer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddCustumer(addForm)">
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" ngModel class="form-control" id="nom" name="nom" required>
            <span class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label for="nom" class="form-label">Email</label>
            <input type="text" ngModel class="form-control" id="email" name="email" required>
            <span class="text-danger" ></span>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image url</label>
            <input type="text" ngModel class="form-control" id="image" name="imageUrl" required>
            <span class="text-danger" ></span>
          </div>
          <div class="modal-footer">
            <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
